{% extends 'base.html.twig' %}

{% block title %}Storyshare{% endblock %}

{% block body %}

<div class="container">
    <p class="text-center mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi beatae blanditiis dolorum, vero, soluta veniam, mollitia sunt explicabo at cupiditate ad qui vel aperiam nostrum? Laborum beatae officiis eum voluptates.
    </p>

    <h3 class="text-center mt-3">Bonjour !</h3>

</div>
{% endblock %}
